# Created by .ignore support plugin (hsz.mobi)
# idea自身
.idea/
/target/
*.iml

# 日志
/logs/
*.log

# 包
*.gz
*.war
*.ear
*.zip
*.tar.gz
*.rar

# 热部署
*/rebel.xml
variety-shop/vs-commons/vs-log/target/
variety-shop/vs-mbg/target/
variety-shop/vs-web/target/
